%div.text-center
  %h1.font-bold.text-xl Lístky
  %small Pro hledání zmáčkni CTRL + F (jsem línej)
  %div.grid.justify-center
    %table.table-auto
      %thead
        %th.p-2 Id
        %th.p-2 Typ lístku
        %th.p-2 Datum a čas skenování
      %tbody
        - Ticket.all.each do |ticket|
          %tr.odd:bg-white.even:bg-slate-50
            %td= ticket.id
            %td= ticket.ticket_type.name
            %td= ticket.scanned_at
